
.modal-header{
  color: black;
  font-weight: bold;
  font-size: larger;
}

mat-label{
    font-size: larger;
}

.btn{
  min-width: 100px;
}

.mt-60{
    margin-top: 60px;
}

.ml-8{
    margin-left: 8px;
}

.order-button{
    float: right;
}

